.navbar{
    width:100vw;
    height: 60px;
}
.brg{
    background-image: url("../images/bg1.jpg");
    height:100vh;
    background-repeat: no-repeat;
     width: 100vw;
    background-size:cover;
    background-position: center center;
    
}
.heading{


    text-align: center;
    padding:50px ;
    justify-content:center;
   align-items:center;
    margin-left: 100px;
   
}
.row{
    height:70vh;
    background-repeat: no-repeat;
    width:100vw;
    background-size:contain;
    text-align: center;
}

.blackbg{
    background-image: url("../images/bg3.jpg"); 
    height: 100px;
    width: 100vw;
   
    

}
h4{
    color:white;
    text-align: center;
}
 h5{
    text-align: center;
    text-decoration: cyan;
} 
h6{
    text-align: center;
    text-decoration: cyan;
} 
.sec{
    text-align: center;
    align-items: center;
    margin: 0px;
    
}

#card-bg{
background-image: url("../images/bg4.jpg");
height: 100vh;
opacity: 90%;
background-repeat: no-repeat;
     width: 100vw;
    background-size:cover;
    
    
}
.kardi{
    align-items: center;
    width:300vw;
    height:50vh;
    
}
.card{
    width: 100px;
    height: 200px;
    opacity: 70%;
    margin-left: 20px;
    margin-right:150px;

}
.footer{
    opacity:80%;
    color: grey;
    
}
#clients{
    align-items: center;

}
#neew{
    align-items: center;
    text-align: justify;
    padding: 50px;
}
p{
    text-align: center;
    padding:20px;
}