body{
    overflow-x: hidden;
    margin: 0% !important;
    padding: 0% !important;
    overflow-y: scroll;
}
.navbar{
    width:100vw;
    height: 60px;
}
#brg{
    background-image: url("../images/bg1.jpg");
    height:100vh;
    background-repeat: no-repeat;
     width: 100vw;
    background-size:cover;
    
    
}
.heading{


    text-align: center;
    padding:20px ;
    justify-content:center;
   align-items:center;
   padding-left: 50px;

   
}
.row{
    height:70vh;
    background-repeat: no-repeat;
    width:100%;
    background-size:contain;
    text-align: center;
    
}
.images_h{
width: 300px;
height: 250px;

}
#black{
    background-image: url("../images/bg3.jpg"); 
    

    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    
    background-size:cover;
    padding-top: 150px;
     
    
  

}
h4{
    color:white;
    text-align: center;
}
 h5{
    text-align: center;
    text-decoration: cyan;
} 
h6{
    text-align: center;
    text-decoration: cyan;
} 
.sec{
    text-align: center;
    align-items: center;
    
    
}

#card-bg{
background-image: url("../images/bg4.jpg");
height: 100vh;
opacity: 90%;
background-repeat: no-repeat;
     width: 100vw;
    background-size:cover;
    
    
}
.kardi{
    align-items: center;
    width:100vw;;
    height:50vh;
    
}
.card{
    width:100px;
    height: 300px;
    opacity: 80%;


}
.footer{
    opacity:80%;
    color: grey;

}
#clients{
    align-items: center;
    text-align: center;

}
#cl{
    text-align: center;
}
.paragraph{
    text-align: justify;
    align-items: center;
    

}
.gift{
    padding-top: 100px;
}